.phoneForm {
  width: 400px;
  padding: 10px;
  border: 2px solid silver;
  border-radius: 5px;
  margin-bottom: 10px;
}

.phoneForm p {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
}
