.contactList {
  max-height: 350px;
  width: 400px;
  overflow-y: auto;
  border: 1px solid silver;
  border-radius: 5px;
  padding: 10px;
}

.contactList li {
  font-size: 20px;
}

.contactList button {
  margin-left: 15px;
}
